/* Colors
- cart image                     : 23272D
- body text                      : 24282D
- breadcrumb bar background color: 23282D
- down arrow background          : 15171a
- jumbotron background           : 15171a
- grey                           : 7D7F81
- select element grey            : 65686B
*/

/* Breakpoints
- small : 576px
- medium: 768px
- large : 992px
- xLarge: 1200px
*/

body {
  color: #24282D;
}

/* links */
/* modifiers */
.link_color_inherited {
  color: inherit;
}
.link_decorationOnHover_none:hover {
  text-decoration: none;
}
.link_decoration_bottomBorder {
  border-bottom: 1px solid;
}
.link_fontWeight_bold {
  font-weight: 500;
}

/* select */
.customSelectContainer {
  display: inline-block;
  width: 100%;
  border-radius: .15rem;
  position: relative;
}
.customSelectContainer__label {
  top: .4rem;
  left: .9rem;
}
.customSelect {
  color: #65686B;
  width: 100%;
  padding: 1.7rem 0 .4rem 1rem;
  -webkit-appearance: none;

  transition: box-shadow .15s;
}
.customSelect:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.customSelectContainer__downArrow {
  right: .8rem;
  top: 50%;
  transform: translateY(-50%);
}

/* button */
.productForm__btn {
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  padding: 1rem;
  border: 1px solid;
  border-radius: .15rem;
}
/* modifiers */
.productForm__btn_bg_black {
  color: #fff;
  background-color: #111;
}
.productForm__btn_bg_grey {
  background-color: #E5E5E5;
}

/* ===========================
Navbar 
============================== */
.navbar__searchInput {
  border: none;
}

/* cart/user icons */
.navbar__cartIcon,
.navbar__userIcon {
  color: rgb(36, 40, 45);
  transition: color .1s;
}

.navbar__userLink:hover .navbar__cartIcon,
.navbar__userLink:hover .navbar__userIcon,
.navbar__userLink:focus .navbar__cartIcon,
.navbar__userLink:focus .navbar__userIcon {
  color: rgba(36, 40, 45, .8);
}

/* ===================================
Breadcrumb
====================================== */
.breadcrumbBar {
  background-color: #23282D;
  z-index: 1;
}

/* Arrows */
.breadcrumbBar__downArrowLink {
  background-color: #15171a;
}

.breadcrumbBar__leftArrowLink,
.breadcrumbBar__downArrowLink {
  transition: color .1s;
}

.breadcrumbBar__leftArrowLink:hover,
.breadcrumbBar__downArrowLink:hover,
.breadcrumbBar__leftArrowLink:focus,
.breadcrumbBar__downArrowLink:focus {
  color: rgba(255, 255, 255, .5)!important;
}

/* ===================================
Product
====================================== */
.product__oldPrice {
  color: #7D7F81;
  font-size: 1.1rem;
  font-weight: 500;
}
.product__newPrice {
  font-size: 1.5rem;
  font-weight: 500;
}
.product__description {
  line-height: 1.7;
}